html, body {
  height: 100vh;
  max-height: 100vh;
  box-sizing: border-box;
  background-color: lightgrey;
}

.location {
  width: 95%;
  height: 7%;
  background-color: ivory;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 10px;
}

#contentHolder {
  width: 40%;
  height: 100%;
  /* background-color: orange; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}

#searchBar {
  font-size: 100%;
  width: 100%;
  height: 5%;
  border: none;
  border-color: transparent;
  border-radius: 10px;
  /* background-color: ivory; */
}

input {
 outline:none;
}
